/* remove up down arrows from input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#directions-button {
    transition-duration: 0.2s;
    background-color: rgba(14,180,147,.9);
    border-radius: 5% !important;
}

#direction-button:hover {
    background-color: rgba(11, 145, 118, 0.9); /* Green */
    color: white;
  }

#search-form {
    margin: 0 auto;
    padding: 5px;
    width: 30%;
}

@media (max-width: 767.98px) { 
    #search-form {
        width: 75%;
    }
}

#search-form .btn-primary {
    font-size: 18px;
    font-weight: bold;
    background-color:  rgba(11, 145, 118, 0.9);
    margin-top: 40px;
    border-color: rgba(11, 145, 118, 0.9);
}

#search-form label {
    margin: 20px 0 10px;
}


.weather-icon {
    height: 8rem;
}

.temperature {
    font-size: 30px;
}

#logo-foot {
    margin-left: -20px;
    height: 55px;
}

.hide {
    display: none;
}

/*Weather Widget ============================================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* *, *:after, *:before {
  box-sizing: border-box;
} */

.container-w {
    margin: 10px auto;
    padding: 5px;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 26vh;
    border-radius: 6px;
}

.widget {
    background: linear-gradient(to bottom right, #3cc0fe 20%, #06f);
    min-height: 120px;
    border-radius: 6px;
    box-shadow: 0px 60px 80px -20px rgb(39 165 253 / 40%);
    position: relative;
    overflow: hidden;
    height: auto;
}

.pictoBackdrop {
  position: absolute;
  height: 250px;
  width: 245px;
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; */
  background: linear-gradient(160deg, rgba(60, 192, 254, 0.7) 40%, rgba(0, 102, 255, 0.6));
  right: -120px;
  top: -60px;
}

.pictoFrame {
  position: absolute;
  background: rgba(60, 192, 254, 0.7);
  border-radius: 50%;
  box-shadow: 0px 50px 60px -20px #06f;
  height: 111px;
  width: 111px;
  right: 5px;
  top: 5px;
}

.details-w {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 21px;
}

.temperature-w {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
  font-size: 3.5em;
  margin-left: 10px !important;

}

.f-degree {
  position: absolute;
  top: -10px;
  left: 80px;
  font-size: 20px;
}

.summary-w {
  color: #d2e9fa;
  font-size: 16px;
  font-weight: 300;
  width: 160px;
  margin-top: -16px;
  padding-bottom: 2px;
  margin-left: 6px;
}

.summaryText {
  margin: 0;
  padding-top: 10px;
  color: rgb(147 211 198) !important;
}

.city-div, .state-div {
  color: #d2e9fa;
  font-size: 14px;
  font-weight: 300;
  margin-left: 8px !important;
  line-height: -50px;

}
.city-div {
  margin: 0;
  padding-top: 2px;
  border-top: 1px solid #9cd0ff;
  width: 150px;

}
.state-div {
  margin-top: 2px;
}

.weather-icon {
  position: absolute;
  height: 6rem;
  left: -25px !important;
  top: 10px;
}