/* remove up down arrows from input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#my-button {
    background-color: rgba(14,180,147,.9);
    border-radius: 5% !important;
}

#search-form {
    padding: 5px;
}

.weather-icon {
    height: 8rem;
}

.temperature {
    font-size: 30px;
}